/* Estilo para Tablets */

@media only screen and (min-width: 788px) and (max-widht: 979px) {

/* Qualidade home */
.qualidade:after {
  right: 66px;
}	

.qualidade-lista li {
	padding: 0 10px;
	
}

/* Footer */

.footer_redes ul li a {
	display: block;
	padding: 6px;
}

.footer_redes ul li a img {
	width: 26px;
	height: 26px;
}
/* Produtos */

.produto_item h2 {
  top: -150px;
  margin-bottom: -56px;
}

.produto_icone {
	padding: 41px 0;
}


.produto_info p {
  font-size: 18px;
  line-height: 25px;
  height: 122px;
  padding: 30px 40px;
}

.produto_info ul li {
  width: 161px;
  height: 49px;
}

} /* Final estilo para tablet */

/* Estilo para Smartphone */

@media only screen and (max-width: 787px) {

/* Header */
.header {
	position: relative;
	padding-bottom: 0;
}

.header img {
	margin: 0 auto 20px;
}

.header_menu {
	text-align: center;
}
.header_menu ul li{
	margin: 5px;
}

.header_menu ul li a {
	border: 4px solid black;
	width: 136px;
	display: block;
	float: left;
  font-size: 14px;
	padding: 10px 0;
}

.header_menu ul li a:hover {
	border-color: white;
}
.header_menu ul li a.menu_ativo {
		color: black;
}

/* Introdução */
.introducao h1 { 
 font-size: 36px;

}

.introducao {
	margin-top: 0px;
	padding-top: 40px;
	background: url("../img/bg-mobile.jpg") no-repeat center;
	background-size: cover

}
/* introdução interna */

.introducao_interna {
	margin-top: 0px;
}

/* Call */

.call {
	padding-top: -5px;
}

/* Qualidade home */
.qualidade:after {
	right: 66px;
	display: none;
}	
/* Sobre */

.missao_sobre p {
	font-size: 14px;
	line-height: 20px;
	padding-right: 0px;
}

.missao_sobre ul li {
	font-size: 14px;
	line-height: 25px;
}
/* Produtos */

.produto_item h2 {
  top: -100px;
  margin-bottom: -68px;
}

.produto_icone {
	padding: 41px 0;
}


.produto_info p {
  font-size: 18px;
	line-height: 25px;
	height: auto;
  padding: 30px 40px;
}

.produto_info ul li {
  width: 149px;
	height: 49px;
	font-size: 14px;
	line-height: 20px;
	padding-top: 14px;
}

.form {
  padding-right: 0px;
}

.orcamento_dados ul {
  padding-right: 60px;
}

/* contato */

.contato_form {
	padding-right: 0px;
	margin-bottom: 40px;
}

}/* Final estilo smartphone */